body {
  padding-top: 50px;
  padding-bottom: 20px;
  overflow-x: auto;
}
/* Set padding to keep content from hitting the edges */
.viewheader {
  color: white;
  padding: 1em;
  background-color: darkslategray;
}
.vlistdiv {
  min-height: 5.5em;
  text-align: center;
  padding: 1em;
}
.clean {
  margin: 0;
  padding: 0;
  border: 0;
}
.phonelinesvlist {
  margin: 0;
  padding: 0;
  border: 0;
}
.phonelinesvlist ul,
.phonelinesvlist li {
  margin: 0;
  padding: 0;
  border: 0;
}
.phonelinesvlist li {
  list-style-type: none;
}
.idle {
  background-color: darkgray;
}
.blink {
  animation: blink-animation 5s steps(50, start) infinite;
  -webkit-animation: blink-animation 5s steps(50, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
.pseudoflash_busy {
  animation: breathe-animation 5s steps(200, start) infinite;
  -webkit-animation: breathe-animation 5s steps(200, start) infinite;
}
@keyframes breathe-animation {
  to {
    background-color: #ff9f95;
  }
}
@-webkit-keyframes breathe-animation {
  to {
    background-color: #ff9f95;
  }
}
.hold {
  background-color: mistyrose;
  animation: breathe-animation 5s steps(200, start) infinite;
  -webkit-animation: breathe-animation 5s steps(200, start) infinite;
}
.ringing {
  background-color: lightyellow;
}
.active {
  background-color: paleturquoise;
}